//---------------------------------------------------------------------------
//
// Name:        DuneMapsApp.rc
// Author:      Robert
// Created:     14/11/2010 08:04:04
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
